@page "/dashboard"
@inherits AppComponentBase
@inject ServiceStackStateProvider AuthStateProvider;
@inject NavigationManager NavigationManager;

<SetHeader>
    <!-- Page header -->
    <div class="flex-1 min-w-0">
        <nav class="flex" aria-label="Breadcrumb">
            <!-- Breadcrumbs-->
            <Breadcrumbs BreadCrumbs="breadcrumbs"></Breadcrumbs>
        </nav>

        <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-8">
            <div class="ml-4 mt-4">
                <h3 class="text-lg leading-6 font-medium text-gray-900">Dashboard</h3>
                <p class="mt-1 text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit quam corrupti consectetur.</p>
            </div>
        </div>
    </div>
</SetHeader>

<main class="px-4 py-2 sm:p-6">
    <div class="rounded-lg bg-white overflow-hidden shadow mb-3">
        <h2 class="sr-only" id="profile-overview-title">Profile Overview</h2>
        <div class="bg-white p-6">
            <div class="sm:flex sm:items-center sm:justify-between">
                <div class="sm:flex sm:space-x-5">
                    <AuthorizeView>
                        <Authorized>
                            <div class="flex-shrink-0">
                                <img class="mx-auto max-h-24 max-w-24 rounded-full" alt="" src="@context.User.GetProfileUrl()">
                            </div>
                            <div class="mt-4 sm:mt-0 sm:pt-1 sm:text-left">
                                <p class="text-sm font-medium text-gray-600">Welcome back,</p>
                                <p class="text-xl font-bold text-gray-900 sm:text-2xl mb-2">@context.User.GetDisplayName()</p>
                                <div class="mb-2 flex">
                                    @foreach (var role in context.User.GetRoles())
                                    {
                                        <span title="Role" class="inline-flex items-center mr-1 px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800"> @role </span>
                                    }
                                </div>
                            </div>
                        </Authorized>
                        <Authorizing>
                            <div class="mt-4 sm:mt-0 sm:pt-1 sm:text-left">
                                <p class="text-sm font-medium text-gray-600">Logging in...</p>
                            </div>
                        </Authorizing>
                        <NotAuthorized>
                            <div class="mt-4 sm:mt-0 sm:pt-1 sm:text-left">
                                <p class="text-sm font-medium text-gray-600">Guest</p>
                            </div>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
                <AuthorizeView>
                    <Authorized>
                        <div class="mt-5 flex justify-center sm:mt-0">
                            <button type="button" @onclick="logout" class="flex justify-center items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Sign Out </button>
                        </div>
                    </Authorized>
                    <Authorizing>
                        <div class="mt-5 flex justify-center sm:mt-0">
                            <button type="button" disabled="disabled" class="flex justify-center items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Sign in </button>
                        </div>
                    </Authorizing>
                    <NotAuthorized>
                        <div class="mt-5 flex justify-center sm:mt-0">
                            <a href="/signin" class="flex justify-center items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Sign in </a>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
    <div class="rounded-lg bg-white overflow-hidden shadow mb-3">
        <h2 class="sr-only" id="profile-overview-title">Stats Overview</h2>
        <dl class="mt-5 grid grid-cols-1 rounded-lg bg-white overflow-hidden divide-y divide-gray-200 md:grid-cols-3 md:divide-y-0 md:divide-x">
            <a href="/jobs">
            <div class="px-4 py-5 sm:p-6">
            <dt class="text-base font-normal text-gray-900">Total Jobs</dt>
            <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
                        @totalJobs
                </div>

                <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-green-100 text-green-800 md:mt-2 lg:mt-0">
                    <!-- Heroicon name: solid/arrow-sm-up -->
                    <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only"> Increased by </span>
                    14%
                </div>
            </dd>

    </div>
    </a>
    <a href="/contacts">
    <div class="px-4 py-5 sm:p-6">
        <dt class="text-base font-normal text-gray-900"><a href="/contacts">Total Contacts</a></dt>
        <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
                        @totalContacts
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800 md:mt-2 lg:mt-0">
                <!-- Heroicon name: solid/arrow-sm-down -->
                <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only"> Decreased by </span>
                12%
            </div>
        </dd>
    </div>
    </a>

    <div class="px-4 py-5 sm:p-6">
        <dt class="text-base font-normal text-gray-900">Avg Salary Expectation</dt>
        <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
                        @(avgSalaryExpectation/1000)k
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-green-100 text-green-800 md:mt-2 lg:mt-0">
                <!-- Heroicon name: solid/arrow-sm-down -->
                <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only"> Increased by </span>
                18%
            </div>
        </dd>
    </div>
    </dl>
    </div>
    <div class="rounded-lg bg-white overflow-hidden shadow mb-3">
        <h2 class="sr-only" id="profile-overview-title">Stats Overview</h2>
        <dl class="mt-5 grid grid-cols-1 rounded-lg bg-white overflow-hidden divide-y divide-gray-200 md:grid-cols-3 md:divide-y-0 md:divide-x">
    <div class="px-4 py-5 sm:p-6">
        <dt class="text-base font-normal text-gray-900">Avg Salary Range Lower</dt>
        <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
                        @(avgSalaryRangeLower/1000)k
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800 md:mt-2 lg:mt-0">
                <!-- Heroicon name: solid/arrow-sm-down -->
                <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only"> Decreased by </span>
                5%
            </div>
        </dd>
    </div>
        <div class="px-4 py-5 sm:p-6">
        <dt class="text-base font-normal text-gray-900">Avg Salary Range Upper</dt>
        <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
                        @(avgSalaryRangeUpper/1000)k
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800 md:mt-2 lg:mt-0">
                <!-- Heroicon name: solid/arrow-sm-down -->
                <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only"> Decreased by </span>
                5%
            </div>
        </dd>
    </div>
        <div class="px-4 py-5 sm:p-6">
        <dt class="text-base font-normal text-gray-900">Remote Preferred</dt>
        <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
                        @prefRemotePercentage %
            </div>

            <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-green-100 text-green-800 md:mt-2 lg:mt-0">
                <!-- Heroicon name: solid/arrow-sm-down -->
                <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only"> Increased by </span>
                25%
            </div>
        </dd>
    </div>
    </dl>
    </div>
</main>

@code {

    List<Breadcrumb> breadcrumbs = new()
        {
            new Breadcrumb { Name = "Dashboard", Url = "/dashboard" }
        };

    long totalJobs = 0;
    long totalContacts = 0;
    int avgSalaryExpectation = 0;
    int avgSalaryRangeLower = 0;
    int avgSalaryRangeUpper = 0;
    decimal prefRemotePercentage = 0.0m;

    ResponseStatus? errorResponnse;
    string? LoginUrl { get; set; }

    protected override Task OnParametersSetAsync()
    {
        LoginUrl = NavigationManager.GetLoginUrl();
        return base.OnParametersSetAsync();
    }

    async Task logout(MouseEventArgs e)
    {
        await AuthStateProvider.LogoutAsync();
        NavigationManager.NavigateTo(LoginUrl ?? "/", true);
    }

    async Task fetchJobApps()
    {
        var api = await ApiAsync(new TalentStats());
        if (api.Succeeded)
        {
            totalJobs = api.Response!.TotalJobs;
            totalContacts = api.Response!.TotalContacts;
            avgSalaryExpectation = api.Response!.AvgSalaryExpectation;
            avgSalaryRangeLower = api.Response!.AvgSalaryLower;
            avgSalaryRangeUpper = api.Response!.AvgSalaryUpper;
            prefRemotePercentage = api.Response!.PreferredRemotePercentage;
        }
        else
            errorResponnse = api.Error;

    }

    protected override async Task OnInitializedAsync()
    {
        await fetchJobApps();
        await base.OnInitializedAsync();
    }
}
